.body_youtube{
    display: flex;
    flex-direction: row;
    
}
.menubar_left{
    width: 7%;
    /* background-color: blue; */
    height: auto;
    border-right: 0.5px solid #F0E5CF;
    padding-top: 4em;
}

.body_youtube .container .body_youtube{
    padding-top: 4em;
}
.menubar_left button p{
    font-size: 10px;
 
}

.slide_menuBar{
    width: 100%;
    margin: 0 10px;

}

.slide_menuBar .carousel-inner .item.active.carousel-item .row .col-lg{
    border-radius: 25px;
    padding: 10px 10px;
    background-color: rgb(208, 208, 216);
    margin: 10px 2px;
    text-align: center;
}
.slide_menuBar .carousel-inner .item.active.carousel-item .row .col-lg:hover{
    background-color: rgb(90, 90, 90);
    box-shadow: 5px 5px 5px rgb(66, 55, 55);
}

.slide_menuBar .carousel-inner .item.active.carousel-item .row .col-lg a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.button_left, .button_right{
    width: 50px;
    height: 50px;

}

.menubar_left button{
    width: 150px;
}
.menubar_left button:hover{
    background-color: cornsilk;
    
    
}

.body_youtube .list_button .row{
    border-bottom: 0.5px solid #F0E5CF;;
}
.body_youtube .list_button span{
    margin:  10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px 20px;
    background-color: rgb(175, 174, 172);
    color: rgb(5, 5, 4);
    font-weight: lighter;
    font-size: 15px;
}

.body_youtube .list_button span:hover span{
    background-color: rgb(34, 33, 33);
    color: blanchedalmond;
    box-shadow: 5px 5px rgb(175, 175, 175);
}

@media (max-width: 768px){
    .menubar_left{
        display: none;
    }

    
.body_youtube .list_button span{
    margin:  5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px 20px;
    background-color: rgb(175, 174, 172);
    color: rgb(5, 5, 4);
    font-weight: lighter;
    font-size: 10px;
}
}
@media (max-width: 991px){
    .body_youtube .list_button .row:nth-of-type(1){
        display: none;
    }
}
@media (max-width: 1024px){
    .body_youtube .list_button span:nth-of-type(1),
    .body_youtube .list_button span:nth-of-type(2),
    .body_youtube .list_button span:nth-of-type(3){
        display: none;
    }
}
.recently_row .card {
    background-color: transparent;
    border: transparent;
    /* position: relative; */
}

.recently_row .card .card{
    margin: 0 auto;
    padding: 0 0;
    
}

.recently_row .card img{
    /* width: 273px; */
    height: 153.7px;
    object-fit: cover;
}

.user_avatar{
    width: 35px;
    height: 35px;
    border-radius: 50px 50px;
    border: black 1px solid;
    background-color: black;
    padding: 0px 0px;
    margin: 0px 0px ;
}
.recently_row .card .img_avata{
    width: 35px;
    height: 35px;
    border-radius: 50px 50px;
}


.recently_row .card-body{
    display: flex;
}

.recently_row .card-body a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}
/* hover anh */
.recently_row .card .card_img_bg{
    position: relative;
}

.recently_row .card .card_img_bg .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #9c9e20;
  }

  .recently_row .card .card_img_bg .text {
    
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .recently_row .card .card_img_bg .text a{
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 30px;
  }
  .card_img_bg:hover .overlay {
    opacity: 1;
    z-index: 9999;
  }

